.container {
    border: 1px solid var(--color-border);
    flex: 1;
    margin: 0 auto;
    max-width: var(--content-max-width-desktop);
}

.noBorderBottom {
    border-bottom-color: transparent;
}

.noBorderTop {
    border-top-color: transparent;
}

.noMargin {
    margin: 0;
}

.paddingLG {
    padding: 32px;
}

.paddingMD {
    padding: 24px;
}

/* Container theme styles */
.light {
    background-color: var(--color-white);
}

.greyPrimary {
    background-color: var(--color-fill-primary);
}

.greySecondary {
    background-color: var(--color-fill-secondary);
}

.greyTertiary {
    background-color: var(--color-fill-tertiary);
}
