.container {
    border: 1px solid var(--color-border);
    margin: auto;
    max-width: var(--content-max-width-desktop);
}

.container.noBorderBottom {
    border-bottom-color: transparent;
}

.container.noBorderTop {
    border-top-color: transparent;
}

.container.paddingLG {
    padding: 32px;
}

.container.paddingMD {
    padding: 24px;
}

/* Container theme styles */
.light {
    background-color: var(--color-white);
}

.greyPrimary {
    background-color: var(--color-fill-primary);
}
.greySecondary {
    background-color: var(--color-fill-secondary);
}
.greyTertiary {
    background-color: var(--color-fill-tertiary);
}